@model PFEmvc.Models.Data

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Data</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LEONI_Part" class="control-label"></label>
                <input asp-for="LEONI_Part" class="form-control" />
                <span asp-validation-for="LEONI_Part" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Part_Request" class="control-label"></label>
                <input asp-for="Part_Request" class="form-control" />
                <span asp-validation-for="Part_Request" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contexxt" class="control-label"></label>
                <input asp-for="Contexxt" class="form-control" />
                <span asp-validation-for="Contexxt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier" class="control-label"></label>
                <input asp-for="Supplier" class="form-control" />
                <span asp-validation-for="Supplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fors_Material_Group" class="control-label"></label>
                <input asp-for="Fors_Material_Group" class="form-control" />
                <span asp-validation-for="Fors_Material_Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LEONI_Part_Classification" class="control-label"></label>
                <input asp-for="LEONI_Part_Classification" class="form-control" />
                <span asp-validation-for="LEONI_Part_Classification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
